--
-- PostgreSQL database dump
--

\restrict SXiQ6g5RxtRfNguudSs8NHUwYTfo2ogBbHTU4GawoJMNAptWdplMpq9HHsVHH0a

-- Dumped from database version 17.6 (Debian 17.6-1.pgdg13+1)
-- Dumped by pg_dump version 17.6 (Debian 17.6-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: task_priority; Type: TYPE; Schema: public; Owner: docker
--

CREATE TYPE public.task_priority AS ENUM (
    'High',
    'Medium',
    'Low'
);


ALTER TYPE public.task_priority OWNER TO docker;

--
-- Name: task_status; Type: TYPE; Schema: public; Owner: docker
--

CREATE TYPE public.task_status AS ENUM (
    'To do',
    'In progress',
    'Done'
);


ALTER TYPE public.task_status OWNER TO docker;

--
-- Name: user_task_role; Type: TYPE; Schema: public; Owner: docker
--

CREATE TYPE public.user_task_role AS ENUM (
    'Owner',
    'Assigned',
    'Viewer'
);


ALTER TYPE public.user_task_role OWNER TO docker;

--
-- Name: add_task_with_subtasks(text, text, date, public.task_priority, integer, jsonb); Type: FUNCTION; Schema: public; Owner: docker
--

CREATE FUNCTION public.add_task_with_subtasks(p_title text, p_description text, p_deadline date, p_priority public.task_priority, p_id_assigned_by integer, p_subtasks jsonb) RETURNS integer
    LANGUAGE plpgsql
    AS $$

DECLARE

    v_task_id INTEGER;

    v_subtask JSONB;

BEGIN

    INSERT INTO public.tasks(title, description, deadline, priority, id_assigned_by)

    VALUES (p_title, p_description, p_deadline, p_priority, p_id_assigned_by)

    RETURNING id INTO v_task_id;



    IF p_subtasks IS NOT NULL THEN

        FOR v_subtask IN SELECT * FROM jsonb_array_elements(p_subtasks)

            LOOP

                INSERT INTO public.subtasks(id_task, title, description)

                VALUES (

                           v_task_id,

                           v_subtask->>'title',

                           v_subtask->>'description'

                       );

            END LOOP;

    END IF;



    RETURN v_task_id;



END;

$$;


ALTER FUNCTION public.add_task_with_subtasks(p_title text, p_description text, p_deadline date, p_priority public.task_priority, p_id_assigned_by integer, p_subtasks jsonb) OWNER TO docker;

--
-- Name: assign_task_author(); Type: FUNCTION; Schema: public; Owner: docker
--

CREATE FUNCTION public.assign_task_author() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    -- Automatycznie dodajemy autora do user_tasks jako 'owner'
    INSERT INTO user_tasks (id_task, id_user, role)
    VALUES (NEW.id, NEW.id_assigned_by, 'Owner');

    RETURN NEW;
END;
$$;


ALTER FUNCTION public.assign_task_author() OWNER TO docker;

--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: docker
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    NEW.updated_at = NOW();

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO docker;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: subtasks; Type: TABLE; Schema: public; Owner: docker
--

CREATE TABLE public.subtasks (
    id integer NOT NULL,
    id_task integer NOT NULL,
    title character varying(255) NOT NULL,
    description text,
    status public.task_status DEFAULT 'To do'::public.task_status NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.subtasks OWNER TO docker;

--
-- Name: subtasks_id_seq; Type: SEQUENCE; Schema: public; Owner: docker
--

CREATE SEQUENCE public.subtasks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.subtasks_id_seq OWNER TO docker;

--
-- Name: subtasks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: docker
--

ALTER SEQUENCE public.subtasks_id_seq OWNED BY public.subtasks.id;


--
-- Name: tasks; Type: TABLE; Schema: public; Owner: docker
--

CREATE TABLE public.tasks (
    id integer NOT NULL,
    title character varying(200) NOT NULL,
    description text,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    deadline date NOT NULL,
    priority public.task_priority NOT NULL,
    status public.task_status DEFAULT 'To do'::public.task_status NOT NULL,
    id_assigned_by integer NOT NULL
);


ALTER TABLE public.tasks OWNER TO docker;

--
-- Name: tasks_id_seq; Type: SEQUENCE; Schema: public; Owner: docker
--

CREATE SEQUENCE public.tasks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tasks_id_seq OWNER TO docker;

--
-- Name: tasks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: docker
--

ALTER SEQUENCE public.tasks_id_seq OWNED BY public.tasks.id;


--
-- Name: user_details; Type: TABLE; Schema: public; Owner: docker
--

CREATE TABLE public.user_details (
    id_user integer NOT NULL,
    name character varying(50) NOT NULL,
    surname character varying(50) NOT NULL,
    phone character varying(20)
);


ALTER TABLE public.user_details OWNER TO docker;

--
-- Name: user_tasks; Type: TABLE; Schema: public; Owner: docker
--

CREATE TABLE public.user_tasks (
    id_task integer NOT NULL,
    id_user integer NOT NULL,
    role public.user_task_role DEFAULT 'Assigned'::public.user_task_role NOT NULL
);


ALTER TABLE public.user_tasks OWNER TO docker;

--
-- Name: users; Type: TABLE; Schema: public; Owner: docker
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username character varying(100) NOT NULL,
    email character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    enabled boolean NOT NULL,
    salt character varying(255) NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.users OWNER TO docker;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: docker
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO docker;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: docker
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: view_high_priority_tasks; Type: VIEW; Schema: public; Owner: docker
--

CREATE VIEW public.view_high_priority_tasks AS
 SELECT t.id,
    t.title,
    t.description,
    t.created_at,
    t.updated_at,
    t.deadline,
    t.priority,
    t.status,
    t.id_assigned_by,
    u.username AS assigned_by_username
   FROM (public.tasks t
     LEFT JOIN public.users u ON ((t.id_assigned_by = u.id)))
  WHERE (t.priority = 'High'::public.task_priority)
  ORDER BY t.deadline;


ALTER VIEW public.view_high_priority_tasks OWNER TO docker;

--
-- Name: view_tasks_by_deadline; Type: VIEW; Schema: public; Owner: docker
--

CREATE VIEW public.view_tasks_by_deadline AS
 SELECT t.id,
    t.title,
    t.description,
    t.created_at,
    t.updated_at,
    t.deadline,
    t.priority,
    t.status,
    t.id_assigned_by,
    u.username AS assigned_by_username
   FROM (public.tasks t
     LEFT JOIN public.users u ON ((t.id_assigned_by = u.id)))
  ORDER BY t.deadline;


ALTER VIEW public.view_tasks_by_deadline OWNER TO docker;

--
-- Name: subtasks id; Type: DEFAULT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.subtasks ALTER COLUMN id SET DEFAULT nextval('public.subtasks_id_seq'::regclass);


--
-- Name: tasks id; Type: DEFAULT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.tasks ALTER COLUMN id SET DEFAULT nextval('public.tasks_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: subtasks; Type: TABLE DATA; Schema: public; Owner: docker
--

COPY public.subtasks (id, id_task, title, description, status, created_at, updated_at) FROM stdin;
6	14	Book venue	Reserve hall for 20 people	To do	2025-09-11 13:04:21.242882+00	2025-09-11 13:04:21.242882+00
7	14	Send Invitations	Email invitations to friends and family	To do	2025-09-11 13:04:45.96249+00	2025-09-11 13:04:45.96249+00
8	14	Order Catering	Choose menu and place order	To do	2025-09-11 13:05:02.155027+00	2025-09-11 13:05:02.155027+00
\.


--
-- Data for Name: tasks; Type: TABLE DATA; Schema: public; Owner: docker
--



--
-- Data for Name: user_details; Type: TABLE DATA; Schema: public; Owner: docker
--

COPY public.user_details (id_user, name, surname, phone) FROM stdin;
6	marlena	drwal	123456789
7	alicja	nowak	999888777
8	bob	brown	876345964
\.


--
-- Data for Name: user_tasks; Type: TABLE DATA; Schema: public; Owner: docker
--

COPY public.user_tasks (id_task, id_user, role) FROM stdin;
12	6	Owner
12	7	Viewer
14	7	Owner
14	6	Viewer
12	8	Assigned
14	8	Assigned
20	8	Owner
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: docker
--



--
-- Name: subtasks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: docker
--

SELECT pg_catalog.setval('public.subtasks_id_seq', 8, true);


--
-- Name: tasks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: docker
--

SELECT pg_catalog.setval('public.tasks_id_seq', 20, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: docker
--

SELECT pg_catalog.setval('public.users_id_seq', 9, true);


--
-- Name: subtasks subtasks_pkey; Type: CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.subtasks
    ADD CONSTRAINT subtasks_pkey PRIMARY KEY (id);


--
-- Name: user_tasks task_assignments_pkey; Type: CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.user_tasks
    ADD CONSTRAINT task_assignments_pkey PRIMARY KEY (id_task, id_user);


--
-- Name: tasks tasks_pkey; Type: CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT tasks_pkey PRIMARY KEY (id);


--
-- Name: user_details user_details_pk; Type: CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.user_details
    ADD CONSTRAINT user_details_pk PRIMARY KEY (id_user);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: tasks trg_assign_task_author; Type: TRIGGER; Schema: public; Owner: docker
--

CREATE TRIGGER trg_assign_task_author AFTER INSERT ON public.tasks FOR EACH ROW EXECUTE FUNCTION public.assign_task_author();


--
-- Name: subtasks update_subtasks_updated_at; Type: TRIGGER; Schema: public; Owner: docker
--

CREATE TRIGGER update_subtasks_updated_at BEFORE UPDATE ON public.subtasks FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: tasks update_tasks_updated_at; Type: TRIGGER; Schema: public; Owner: docker
--

CREATE TRIGGER update_tasks_updated_at BEFORE UPDATE ON public.tasks FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: users update_users_updated_at; Type: TRIGGER; Schema: public; Owner: docker
--

CREATE TRIGGER update_users_updated_at BEFORE UPDATE ON public.users FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: subtasks subtasks_id_task_fkey; Type: FK CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.subtasks
    ADD CONSTRAINT subtasks_id_task_fkey FOREIGN KEY (id_task) REFERENCES public.tasks(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_tasks task_assignments_id_task_fkey; Type: FK CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.user_tasks
    ADD CONSTRAINT task_assignments_id_task_fkey FOREIGN KEY (id_task) REFERENCES public.tasks(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_tasks task_assignments_id_user_fkey; Type: FK CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.user_tasks
    ADD CONSTRAINT task_assignments_id_user_fkey FOREIGN KEY (id_user) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: tasks tasks___fk_assigned_by; Type: FK CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT tasks___fk_assigned_by FOREIGN KEY (id_assigned_by) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_details user_details_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.user_details
    ADD CONSTRAINT user_details_user_id_fkey FOREIGN KEY (id_user) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict SXiQ6g5RxtRfNguudSs8NHUwYTfo2ogBbHTU4GawoJMNAptWdplMpq9HHsVHH0a

